@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Roboto:wght@400;700&display=swap');

/* Set all elements to use the Open Sans font */
body,
input,
textarea,
button,
select {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 10px;
  color: #447799
}

#nav-title {
  font-family: Redressed, cursive;
  font-weight: 700;
  color: rgb(183, 00, 132)
}

a:link {
  text-decoration: none;
}

nav {
  padding: 10px;
}

.nav-link {
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  font-size: 26px;
}

.nav-link:hover {
  animation-name: spincolor;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes spincolor {
  0% {
    color: #996633
  }

  25% {
    color: #339933;
  }

  50% {
    color: #336699;
  }

  75% {
    color: #993399;
  }

  100% {
    color: #996433;
  }
}

.project-link {
  padding: 10px;
  position: relative;
  display: inline-block;
  color: royalblue;
  overflow: hidden;
  background: linear-gradient(to right, rgb(183, 80, 132), rgb(183, 00, 132) 50%, royalblue 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  transition: background-position 775ms ease;
}

.project-link:hover {
  background-position: -100% 100%
}

.number-tasks {
  position: center;
}
