{% extends 'base.html' %}
<!-- {% load bootstrap5 %} -->
{% block title %} Login {% endblock title %} {% block content %}
<main>
  <div class="login-form from-group">
    <h1>Login</h1>
    <form method="post">
      {% csrf_token %} {% bootstrap_form form %} {% buttons %}
      <button>Login</button>
      {% endbuttons %}
    </form>
  </div>
</main>
{% endblock content %}
