{% extends 'base.html' %}
<!-- {% load bootstrap5 %} -->

{% block title %} My Receipts {% endblock title %} {% block content %}
<main>
  <div class="signup-form from-group">
    <h1>Signup</h1>
    <form method="post">
      {% csrf_token %} {% bootstrap_form form %} {% buttons %}
      <button>Signup</button>
      {% endbuttons %}
    </form>
  </div>
</main>
{% endblock content %}
