{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'css/project.css' %}" />
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <header>
      <h1 id="nav-title">Project TrackeR</h1>
      <nav class="nav">
        {% if user.is_authenticated %}
        <a class="nav-link" href="{% url 'show_my_tasks' %}">My tasks</a>
        <a class="nav-link" href="{% url 'list_projects' %}">My projects</a>
        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        {% else %}
        <a class="nav-link" href="{% url 'login' %}">Login</a>
        <a class="nav-link" href="{% url 'signup' %}">Signup</a>
        {% endif %}
      </nav>
    </header>
    {% block content %}{% endblock content %}
  </body>
</html>
