{% extends 'base.html' %}
{% load bootstrap5 %}
{% block title %}
    Create a Task
{% endblock title %}

{% block content %}
    <main>
      <div class="task-form from-group">
        <h1>Create a new task</h1>
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form create_form %}
          {% buttons %}
          <button>Create</button>
          {% endbuttons %}
        </form>
      </div>
    </main>
{% endblock content %}
