{% extends 'base.html' %}

{% block title %}
    My tasks
{% endblock title %}

{% block content %}
    <main>
      <div class="my-tasks-list">
        <h1>My Tasks</h1>
        {% if not my_tasks %}
          <p>You have no tasks</p>
        {% else %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>name</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
              </tr>
            </thead>
            <tbody>
              {% for task in my_tasks %}
              <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.start_date }}</td>
                <td>{{ task.due_date }}</td>
                <td>{{ task.is_completed|yesno }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>
    </main>
{% endblock content %}
