{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}
    Create a new project
{% endblock title %}

{% block content %}
    <main>
      <div class="project-form from-group">
        <h1>Create a new project</h1>
        <form method="post">
          {% csrf_token %}
          {% bootstrap_form form %}
          {% buttons %}
          <button>Create</button>
          {% endbuttons %}
        </form>
      </div>
    </main>
{% endblock content %}
