{% extends 'base.html' %}

{% block title %}
    My projects
{% endblock title %}

{% block content %}
  <body>
    <main>
      <div class="project-list">
        <h2>My Projects</h2>
        <p>
          <a class="nav-link" href="{% url 'create_project' %}">Create a new project</a>
        </p>
        {% if not list %}
          <p>You are not assigned to any projects</p>
        {% else %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Number of tasks</th>
              </tr>
            </thead>
            <tbody>
              {% for task in list %}
              <tr>
                <td>
                  <a class="project-link" href="{% url 'show_project' task.id %}">{{ task.name }}</a>
                </td>
                <td class="number-tasks">{{ task.tasks.all|length }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
      </div>
    </main>
  </body>
{% endblock content %}
