{% extends 'base.html' %}

{% block title %}
    Task Manager
{% endblock title %}

{% block content %}
  <body>
    <main>
      <div class="project-detail">
        <h1>{{ details.name }}</h1>
        <p>{{ details.description }}</p>
        <h2>Tasks</h2>
        <p>
          <a class="nav-link" href="{% url 'create_task' %}">Create a new task</a>
        </p>
        {% if not my_tasks %}
          <p>This project has no tasks</p>
        {% else %}
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Assignee</th>
                <th>Start date</th>
                <th>Due date</th>
                <th>Is completed</th>
              </tr>
            </thead>
            <tbody>
              {% for task in my_tasks %}
              <tr>
                <td>{{ task.name }}</td>
                <td>{{ task.assignee }}</td>
                <td>{{ task.start_date }}</td>
                <td>{{ task.due_date}}</td>
                <td>{{ task.is_completed|yesno }}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        {% endif %}
      </div>
    </main>
  </body>
{% endblock content %}
